<%= form_with(model: [@classroom, announcement], class: "contents") do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul class="list-disc ml-6">
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "block font-medium text-gray-700 mb-2" %>
    <%= form.text_field :title, class: "block shadow-sm rounded-md border border-gray-300 focus:border-blue-500 focus:ring-blue-500 px-3 py-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: "block font-medium text-gray-700 mb-2" %>
    <%= form.rich_text_area :content, class: "block w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
